.task-list-container{
    flex: 1;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0,0,0,0.05);
    
}

.task-input {
    flex: 1;
    padding: 0.8rem 1rem;
    border: 1px solid var(--gray-medium);
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .task-input:focus {
    border-color: green;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
  }

  .add-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 1.5rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: var(--primary-dark);
  }
  